import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path = r'Desktop/Project/Phonepe db/data/aggregated/transaction/country/india/state'
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+'/'+i
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+'/'+ j
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+'/'+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                clm['Transacion_type'].append(Name)
                clm['Transacion_count'].append(count)
                clm['Transacion_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

Agg_Trans

my_dict = {'andaman-&-nicobar-islands':'Andaman & Nicobar Islands', 'andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh', 
           'assam':'Assam', 'bihar':'Bihar', 'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra & Nagar Haveli & Daman & Diu',
           'delhi':'Delhi', 'goa':'Goa', 'gujarat':'Gujarat', 'haryana':'Haryana', 'himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir',
           'jharkhand':'Jharkhand', 'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh',
           'maharashtra':'Maharashtra', 'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland', 'odisha':'Odisha',
           'puducherry':'Puducherry', 'punjab':'Punjab', 'rajasthan':'Rajasthan', 'sikkim':'Sikkim', 'tamil-nadu':'Tamil Nadu', 'telangana':'Telengana',
           'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh', 'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'}
Agg_Trans['State'] = Agg_Trans['State'].map(my_dict)

Agg_Trans.rename(columns={'Quater':'Quarter','Transacion_type':'Transaction_Type','Transacion_count':'Transaction_Count','Transacion_amount':'Transaction_Amount'},inplace=True)

Agg_Trans.head(30)

import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password='XXXXX',
)
pointer=mydb.cursor()
pointer.execute('use capstone2;')
# query="""create table Agg_Trans(
# State Varchar(255),
# Year Int(10),
# Quarter Int(2),
# Transaction_Type Varchar(50),
# Transaction_Count int(20),
# Transaction_Amount decimal(20,2)
# );"""
# pointer.execute(query)
insert_query = 'INSERT INTO Agg_Trans (State,Year,Quarter,Transaction_Type,Transaction_Count,Transaction_Amount) VALUES (%s,%s,%s,%s,%s,%s)'
values = [(row["State"], row["Year"], row["Quarter"],row["Transaction_Type"],row["Transaction_Count"],row["Transaction_Amount"]) for _, row in Agg_Trans.iterrows()]
pointer.executemany(insert_query, values)

mydb.commit()

pointer.close()
mydb.close()

Agg_Trans.to_excel('PhonePe_DB.xlsx', index = False)